<h1>物品 新規作成</h1>

<%= form_for :item, url: { action: :create } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :attachments %>
  <%= f.text_field :attachments %>

  <%= f.label :lending_period %>
  <%= f.text_field :lending_period %>

  <%= f.label :category %>
  <%= f.select :category, ['その他', 'PC', 'カメラ']%>

  <%= f.label :place %>
  <%= f.text_field :place %>

  <%= f.label :amount %>
  <%= f.text_field :amount %>

  <%= f.label :trashed %>
  <%= f.text_field :trashed %>

  <%= f.label :picture_path %>
  <%= f.text_field :picture_path %>

  <%= f.submit '登録', class: 'btn' %>
<% end %>
