<h1>物品 新規作成</h1>

<%= form_for :item, html: { class: 'form-horizontal' }, url: { action: :create } do |f| %>
  <div class='control-group'>
    <%= f.label :物品名 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :name, placeholder: '例） widor01' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :カテゴリー , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.select :category, ['その他', 'PC', 'カメラ']%>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :付属品 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :attachments, placeholder: '例） LANケーブル,充電器' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :'最大貸出期間(日)' , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :lending_period, placeholder: '例） 10' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :個数 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :amount, placeholder: '例） 1' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :場所 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :place, placeholder: '例） 1909 前の棚' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :画像 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.file_field :image, style: 'display: none;' %>
      <input type='text' id='selected_file' readonly='readonly'></input>
      <a class='btn btn-info' onclick="$('#item_image').click();"><i class="icon-folder-open"></i>ファイル選択</a>
    </div>
  </div>

  <div class='actions'>
    <div class='controls'>
      <%= button_tag type: "f.submit" , class: 'btn btn-primary' do %>
          <i class="icon-ok-sign"></i> 登録
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#item_image').change(function() {
    $('#selected_file').val($(this).val());
  });
</script>
