<h1>物品編集</h1>

<%= form_for @item, html: { class: 'form-horizontal' }, url: { action: :update } do |f| %>
  <%= f.hidden_field :id %>

  <div class='control-group'>
    <%= f.label :物品名 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :カテゴリー , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.select :category, Item.category_text %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :付属品 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :attachments %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :最大貸出期間 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :lending_period %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :個数 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :場所 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :place %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :破棄フラグ , {class: 'control-label'} %>
    <div class='controls'>
      <label class="checkbox inline"> <%= f.radio_button :trashed, "true"  %> 有効</label>
      <label class="checkbox inline"> <%= f.radio_button :trashed, "false" %> 無効</label>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :画像 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.file_field :image, style: 'display: none;' %>
      <input type='text' id='selected_file' readonly='readonly'></input>
      <a class='btn btn-info' onclick="$('#item_image').click();"><i class="icon-folder-open"></i>ファイル選択</a>
    </div>
  </div>

  <div class='actions'>
    <div class='controls'>
      <%= button_tag type: "f.submit" , class: 'btn btn-primary' do%>
          <i class="icon-ok-sign"></i> 更新
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#item_image').change(function() {
    $('#selected_file').val($(this).val());
  });
</script>
