<h1>物品 一覧</h1>

<%= button_to '新規作成', item_create_path, method: :get, class: 'btn' %>

<%= form_tag('/item/update', method: :patch) do %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>チェック</th>
        <th>物品名</th>
        <th>最大貸出期間</th>
        <th>カテゴリ</th>
        <th>場所</th>
        <th>個数</th>
        <th>破棄</th>
        <th>付属品</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= check_box 'page', item.id, {}, item.id %></td>
          <td><%= link_to item.name, action: :show, id: item.id %></td>
          <td><%= item.lending_period %>日</td>
          <td><%= item.category_text %></td>
          <td><%= item.place %></td>
          <td><%= item.amount %></td>
          <td><%= item.trashed_text %></td>
          <td><%= item.attachments %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag '破棄', name1: '破棄', class: 'btn' %>
  <%= submit_tag '借りる', name1: '借りる', class: 'btn' %>
<% end %>
