<h1>物品 詳細</h1>

<% if permitted_user? %>
  <%= button_to '更新', { :action => 'edit', :id => @item.id }, method: :get, class: 'btn btn-primary' %>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>物品名</th>
      <th>最大貸出期間</th>
      <th>カテゴリ</th>
      <th>場所</th>
      <th>個数</th>
      <th>破棄</th>
      <th>付属品</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @item.name %></td>
      <td><%= @item.lending_period %>日</td>
      <td><%= @item.category_text %></td>
      <td><%= @item.place %></td>
      <td><%= @item.amount %></td>
      <td><%= @item.trashed_text %></td>
      <td><%= @item.attachments %></td>
    </tr>
  </tbody>
</table>
