<h1>メッセージの作成</h1>

<%= form_for :message, url: { action: :create } do |f| %>
  <%= button_tag type: "f.submit", class: "btn btn-primary" do %>
    <i class="icon-envelope"></i> 送信
  <% end %>
  <br>

  <%= f.label :件名 %>
  <%= f.text_field :subject, placeholder: '例） メンテナンスのお知らせ' %>

  <%= f.label :内容 %>
  <%= f.text_area :comtent, :size => "100x10", placeholder: '例） 4月1日2時からメンテナンスを始めます' %>

  <%= f.label :宛先 %>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>チェック</th>
        <th>名前</th>
        <th>アカウント名</th>
        <th>区分</th>
        <th>貸出フラグ</th>
        <th>ロール</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= check_box 'page', user.id, {}, true, false %></td>
          <td><%= user.name %></td>
          <td><%= user.uid %></td>
          <td><%= user.category_text %></td>
          <td><%= user.lendable_text %></td>
          <td><%= user.admin_flag_text %></td>
          <td><%= user.e_mail %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
