<h1>履歴 一覧</h1>

<table id="datatable" class="table table-bordered">
  <thead>
    <tr>
      <th>ユーザ</th>
      <th>物品</th>
      <th>状態</th>
      <th>個数</th>
      <th>詳細</th>
      <th>実行日時</th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.user.name %></td>
        <td><%= history.item.name %></td>
        <td><%= history.type_text %></td>
        <td><%= history.amount %></td>
        <td><%= history.detail %></td>
        <td><%= history.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
