<h1>履歴 一覧</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ユーザID</th>
      <th>物品ID</th>
      <th>状態</th>
      <th>個数</th>
      <th>不具合内容</th>
      <th>詳細ID</th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.user_id %></td>
        <td><%= history.item_id %></td>
        <td><%= history.status_text %></td>
        <td><%= history.amount %></td>
        <td><%= history.failure_detail %></td>
        <td><%= history.detail_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
