<h1>カートページ</h1>

<p>
個数を指定してください。

個数を確認のうえ、「借りる」ボタンを押してください
</p>

<%= form_tag(history_lend_confirm_path, {method: :get}) do %>
  <% @items.each_with_index do |item, i| %>
    <table class="table table-bordered">
      <thead>
        <th>物品名</th>
        <th>個数</th>
        <th>最大貸出期間</th>
        <th>カテゴリ</th>
        <th>保管場所</th>
        <th>付属品</th>
      </thead>
      <tbody>
        <tr>
          <td><%= item.name  %></td>
	  <% if @array2[i].length == 1 %>
          <td><%= select :item, item.id, @array2[i], {}, {:selected => 1, :readonly => true} %>
	  </td>
	  <% else %>
          <td><%= select :item, item.id, @array2[i] %></td>
	  <% end %>
          <td><%= item.lending_period %>日</td>
          <td><%= item.category_text %></td>
          <td><%= item.place %></td>
          <td><%= item.attachments %></td>
        </tr>
      </tbody>
    </table>
    <h5> ◯ 貸出理由 <br>
      <%= text_area :reason, "#{item.id}", :size => "60×10", placeholder: '例） 活動で利用するため' %>
      <br><br>
    </h5>
  <% end %>
  <%= submit_tag '確認', name: 'confirm', class: 'btn btn-success' %>
  <%= button_tag name: 'return', class: 'btn' do %>
    <i class="icon-arrow-left"></i> 戻る
  <% end %>
<% end %>

