<h1>返却ページ</h1>

<h3>紛失や故障は管理者に連絡してください。<br>
その後、管理者に従ってください</h3>
<%#= form_tag(:action => 'return_confirm', :method => 'post') do %>
<%= form_tag(:action => 'return_create', :method => 'post') do %>
  <% @histories.each_with_index do |history,i| %>
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>物品名</th>
	<th>個数</th>
	<th>場所</th>
	<th>状態</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td><%= history.item.name %></td>
	<td><%= history.item.amount %></td>
	<td><%= history.item.place %></td>
	<td><%= History.status_text(@status[history.id.to_s].to_i) %></td>
      </tr>
    </tbody>
  </table>
  <h5> ◯ 付属品 <br>
    <%= history.item.attachments %>
  </h5>
  <h5> ◯ 不具合報告 <br>
   <%= @report[history.id.to_s] %>
    <br><br>
  </h5>
  <% end %>

<%= submit_tag '返却', name: '返却', class: 'btn' %>
<% end %>
