
<table>
  <tr>
    <th>ユーザID</th>
    <th>物品ID</th>
    <th>状態</th>
    <th>個数</th>
    <th>不具合内容</th>
    <th>詳細ID</th>
  </tr>
  <tr>
    <td><%= @history.user_id %></td>
    <td><%= @history.item_id %></td>
    <td><%= @history.status %></td>
    <td><%= @history.amount %></td>
    <td><%= @history.failure_detail %></td>
    <td><%= @history.detail_id %></td>
  </tr>
</table>
