<h1>履歴 詳細</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ユーザID</th>
      <th>物品ID</th>
      <th>状態</th>
      <th>個数</th>
      <th>不具合内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @history.user_id %></td>
      <td><%= @history.item_id %></td>
      <td><%= @history.type_text %></td>
      <td><%= @history.amount %></td>
      <td><%= @history.failure_detail %></td>
    </tr>
  </tbody>
</table>
