<h4> ログイン </h4>
<%= form_for(:user, html: { class: 'form-horizontal' }, url: { controller: 'devise/sessions', action: 'new' }) do |f| %>
  <div class='control-group'>
    <%= f.label :アカウント, { class: 'control-label' } %>
    <div class='controls'>
      <%= f.text_field :uid %>
    </div>
  </div>
  <div class='control-group'>
    <%= f.label :パスワード, { class: 'control-label' } %>
    <div class='controls'>
      <%= f.password_field :password %>
    </div>
  </div>
  <div class='actions'>
    <div class='controls'>
      <%= button_tag type: "f.submit" , class: "btn btn-primary" do %>ログイン<% end %>
    </div>
  </div>
<% end %>
