<h1>ユーザ 新規作成</h1>

<%= form_for :user, html: { class: 'form-horizontal' }, url: { action: :create } do |f| %>

  <div class='control-group'>
    <%= f.label :名前 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :name, placeholder: '例） 香川 太郎' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :アカウント名 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :account, placeholder: '例） kagawa' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :管理者 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.check_box :admin_flag %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :区分 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.select :category, ['サークル生', '学内者'] %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :貸出有効 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.check_box :lendable %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :メール , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.text_field :e_mail, placeholder: '例） aa@gmail.com' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :パスワード , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.password_field :password %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :パスワード再入力 , {class: 'control-label'} %>
    <div class='controls'>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class='actions'>
    <div class='controls'>
      <%= button_tag type: "f.submit" , class: 'btn btn-primary' do %>
        <i class="icon-ok-sign"></i> 登録
      <% end %>
    </div>
  </div>

<% end %>
