<h1>ユーザ編集</h1>

<%= form_for :user, @user, url : { action: :update } do |f| %>
  <%= f.hidden_field :id %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :account %>
  <%= f.text_field :account %>

  <%= f.label :admin_flag %>
  <%= f.check_box :admin_flag %>

  <%= f.label :category %>
  <%= f.select :category, ["サークル生", "学内者"] %>

  <%= f.label :lendable %>
  <%= f.check_box :lendable %>

  <%= f.label :e_mail %>
  <%= f.text_field :e_mail %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  

  <%= f.submit '登録', class: 'btn' %>
  

<% end %>
