<h1>ユーザ 一覧</h1>

<%#= button_to '新規作成', user_create_path, method: :get, class: 'btn' %>

<%= link_to user_create_path, method: :get, class: "btn btn-primary" do %>
  <i class="icon-plus icon-white"></i> 新規作成
<% end %>
<br>
<br>

<%= form_tag('user/exchange', method: :get) do %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>チェック</th>
        <th>名前</th>
        <th>アカウント名</th>
        <th>区分</th>
        <th>貸出フラグ</th>
        <th>ロール</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= check_box 'page', user.id, {}, true, false %></td>
          <td><%= link_to user.name, action: :show, id: user.id %></td>
          <td><%= user.account %></td>
          <td><%= user.category_text %></td>
          <td><%= user.lendable_text %></td>
          <td><%= user.admin_flag_text %></td>
          <td><%= user.e_mail %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%#= submit_tag '貸出切替', name1: '停止', class: 'btn' %>
  <%= button_tag type: "submit", name1: '停止', class: "btn btn-warning" do %>
    <i class="icon-refresh"></i> 貸出切替
  <% end %>

<% end %>
