<h1>借り物リスト</h1>


<%#= form_tag('/history/return_add', method: :post) do %>
<%= form_tag('/user/mainpage', method: :post) do %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>一括返却</th>
        <th>物品名</th>
        <th>個数</th>
        <th>期限</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= check_box 'page', 'freezeflag', {}, true, false %></td>
          <td><%= link_to item.name, action: :show, id: item.id %></td>
          <td><%= item.amount %></td>
          <td><%= item.lending_period %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag '返却', name1: '返却', class: 'btn' %>
<% end %>
