
<table>
  <tr>
    <th>名前</th>
    <th>アカウント名</th>
    <th>管理者フラグ</th>
    <th>区分</th>
    <th>貸出有効フラグ</th>
    <th>メールアドレス</th>
  </tr>
  <tr>
    <td><%= @user.name %></td>
    <td><%= @user.account %></td>
    <td><%= @user.admin_flag %></td>
    <td><%= @user.category %></td>
    <td><%= @user.lendable %></td>
    <td><%= @user.e_mail %></td>
  </tr>
</table>
