<h1>ユーザ 詳細</h1>

<%= button_to '更新', { :action => 'edit', :id => @user.id }, method: :get, class: 'btn btn-primary' %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>名前</th>
      <th>アカウント名</th>
      <th>区分</th>
      <th>貸出フラグ</th>
      <th>ロール</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.uid %></td>
      <td><%= @user.category_text %></td>
      <td><%= @user.lendable_text %></td>
      <td><%= @user.admin_flag_text %></td>
      <td><%= @user.e_mail %></td>
    </tr>
  </tbody>
</table>
