<div class="row-fluid">
  <div class="span12">
    <div class="span6">
      <div>
        <h2>Newtonへようこそ</h2>
        研究室やサークルにおける物品管理を目的としたシステムです。<br />
        現在、SLP(学生プログラミング研究所)で開発・試験運用中です。<br />
      </div>
    </div><!-- 説明 -->

    <div class="span6">
      <div class="row-fluid">
        <h4> ログイン </h4>
        <%= form_for(:user, html: { class: 'form-horizontal' }, url: { action: :login }) do |f| %>
          <div class='control-group'>
            <%= f.label :アカウント, { class: 'control-label' } %>
            <div class='controls'>
              <%= f.text_field :account %>
            </div>
          </div>
          <div class='control-group'>
            <%= f.label :パスワード, { class: 'control-label' } %>
            <div class='controls'>
              <%= f.password_field :password %>
            </div>
          </div>
          <div class='actions'>
            <div class='controls'>
              <%#= f.submit :ログイン, class: :btn %>
              <%= button_tag type: "f.submit" , class: "btn btn-primary" do %>ログイン<% end %>
            </div>
          </div>
        <% end %>
      </div><!-- row-fluid -->

      <div class="row-fluid">
        <h4> お知らせ </h4>
        <pre>現在、テスト運用中です。
お気づきの点がございましたら、お気軽にお問い合わせください。
s11t250@stmail.eng.kagawa-u.ac.jp
        </pre>
      </div><!-- row-fluid -->
    </div>

  </div><!-- span12 -->
</div><!-- row-fluid -->
